.navbar {
  height: 58px;
  background-color: #fff;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
}
#logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

#logo img {
  width: 40px;
  height: auto;
}

#logo h3 {
  color: orangered;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.profile {
  cursor: pointer;
}
