#nav {
  height: 8vh;
  background-color: #fff;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
}
#nav #logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

#nav #logo img {
  width: 40px;
  height: auto;
}

#nav #logo h3 {
  color: orangered;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

#nav .profile {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 50%;
  border: 1px solid #111;
  cursor: pointer;
}
